.footer-banner {
  background-color:rgba(44, 62, 80,1.0);
  padding: 2rem 0;
  margin-top: 4rem;
  font-size: 15px;
  text-align: left;
  color: black;
}

.icons-sm {
  color: white !important;
  font-size: 3em;
}

.icons-sm:hover {
  color: #5bc0de !important;;
  cursor: pointer;
}

.selectedIcon {
  color: #5bc0de !important;;
}

.text-white {
  font-size: 22px;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

img {
  float: right;
  height: 270px;
  width: 200px;
  border-radius: 10%;
  transform: translateY(-40px);
}

/* Style inputs */
input[type=text], select, textarea {
  width: 65%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



