<div class="footer-banner">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h5 class="text-white">Created and designed by <span style="color: #5bc0de;"> Barney Nikolich</span>.</h5>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 h">

        <div class="mb-5 flex-center">
          <img src="../../../assets/images/me1.jpg"/>
          <a target="_blank" href="https://github.com/BarneyNikolich" class="icons-sm"><i class="fa fa-github mr-md-4"> </i></a>
          <a target="_blank" href="https://www.linkedin.com/in/barney-nikolich-7b1370122/" class="icons-sm"><i class="fa fa-linkedin mr-md-4"> </i></a>
          <a (click)="toggleContactForm()" [ngClass]="{'selectedIcon': showContactForm}" class="icons-sm "><i class="fa fa-envelope mr-md-4"></i></a>
        </div>

        <contact-form [isVisible]="showContactForm"></contact-form>

      </div>

    </div>

  </div>

</div>


