<div class="filterBox">

<form [formGroup]="filterRacesForm" (submit)="filterRacesSubmit(filterRacesForm.value)">
  <div class="form-group">

    <div class="row">

      <div class="col-2">
        <label for="distance">Distance (m)</label>
        <select (change)="getResultCount(filterRacesForm.value)" class="form-control" id="distance" formControlName="distance">
          <option value="">any</option>
          <option *ngFor="let option of distanceOptions" [value]="option">{{option}}</option>
        </select>
      </div>

      <div class="col-3">
        <label for="area">Location</label>
        <select (change)="getResultCount(filterRacesForm.value)" class="form-control" id="area" formControlName="area">
          <option value="">any</option>
          <option *ngFor="let location of locations" [value]="location.name">{{location.name}} ({{location.count}})</option>
        </select>
      </div>

      <div class="col-3">
        <label for="terrain">Terrain</label>
        <select (change)="getResultCount(filterRacesForm.value)" class="form-control" id="terrain" formControlName="terrain">
          <option value="">any</option>
          <option *ngFor="let terrain of terrains" [value]="terrain">{{terrain}}</option>
        </select>
      </div>

      <div class="col-2">
        <label for="dateSortOrder">Date sort</label>
        <select class="form-control" id="dateSortOrder" formControlName="dateSort">
          <option value="">default</option>
          <option value="asc" >old -> new</option>
          <option value=desc>new -> old</option>
        </select>
      </div>

    </div>
  </div>


  <button id="searchButton" mat-raised-button color="accent">Filter results</button>
  <div class="results-box" color="accent">Result Count: {{resultCount}}</div>

</form>
  <button (click)="resetFilterForm()" id="resetButton" mat-raised-button class="btn btn-primary header-button-right">Reset</button>

</div>
