.filterBox {
  margin-top: 10px;
  height: 180px;
  /*background-color: #0143a3;*/
  /*opacity: 0.2;*/
  /*background: linear-gradient(to right, lightskyblue , lightblue);*/
  border-style: solid;
  border-color: #0143a3;
  border-width: 1px;
  padding: 15px;
  margin-bottom: 15px;

}

#searchButton {
  position: absolute;
  right:    25px;
  bottom:   25px;
}

.results-box {
  position: absolute;
  right: 930px;
  top:210px;
  /*botton: 10x;*/
  width: 150px;
  height: 40px;
  padding: 2px;
  /*border: 1px solid red;*/

  /*background-color: #ffd740;*/
}

#resetButton {
  position: absolute;
  right:    150px;
  bottom:   25px;
}

/*select {*/
  /*font: 500 15px/1.3 "Helvetica Neue", sans-serif;*/
  /*-webkit-appearance: none;*/
  /*border: 1px solid #0143a3;*/
  /*!*color: hotpink;*!*/
  /*border-radius: 4px;*/
/*}*/
