<ngb-alert *ngIf="race" type="info" [dismissible]="false">
  <div>
    <ul>
      <li>Cost (£): {{race.cost}}</li>
      <li>Event Type: {{race.eventType}}</li>
      <li>Kilometres: {{race.km}}</li>
      <li>Cost/mile: {{race.costMile}}</li>
      <li *ngIf="race.notes">Notes: {{race.notes}}</li>
    </ul>
  </div>

  <img width="50" height="50" class="float-right" src="data:image/gif;base64,{{race.encodedImage}}" />

  <button mat-raised-button color="warn" (click)="deleteRace()"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
  <button mat-raised-button color="accent" (click)="editRace()">Edit</button>
</ngb-alert>

<ngb-alert *ngIf="raceFromTypeAhead" type="info" [dismissible]="false">
  <div>
    <ul>
    <h1>{{raceFromTypeAhead.name}}</h1>
      <li>Cost (£): {{raceFromTypeAhead.cost}}</li>
      <li>Event Type: {{raceFromTypeAhead.eventType}}</li>
      <li>Kilometres: {{raceFromTypeAhead.km}}</li>
      <li>Cost/mile: {{raceFromTypeAhead.costMile}}</li>
      <li *ngIf="raceFromTypeAhead.notes">Notes: {{raceFromTypeAhead.notes}}</li>
    </ul>
  </div>
</ngb-alert>



