<div class="container">
  <div class="card card-container">
    <p id="profile-name" class="profile-name-card"></p>

    <form [formGroup]="loginForm" (submit)="onLoginSubmit(loginForm.value)" validate>

      <div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input [ngClass]="{'invalid': showError('username')}" class="form-control" type="text" placeholder="Email address" name="email" id="email" formControlName="username" required>
        <!--<div *ngIf="!loginForm.get('email').valid && showFormErr"-->
             <!--class="alert alert-danger errorMessage"> Name is required-->
        <!--</div>-->
     </div>

      <div class="form-group input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input [ngClass]="{'invalid': showError('password')}" class="form-control" type="password" placeholder="Password" name="password" id="password" formControlName="password" required>
        <!--<div *ngIf="!loginForm.get('password').valid && showFormErr"-->
             <!--class="alert alert-danger errorMessage"> Name is required-->
        <!--</div>-->
      </div>

      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button mat-raised-button class="btn btn-lg btn-block btn-primary" type="submit">Sign in</button>
    </form>
    <a href="#" class="forgot-password">
      Forgot the password?
    </a>
  </div>
</div>
