/*ng-valid[required], .ng-valid.required  {*/
  /*border-left: 6px solid #28a745; !* green *!*/
/*}*/

/*.ng-invalid:not(form)  {*/
  /*!*border-left: 6px solid #a94442; !* red *!*!*/
  /*border: 2px solid #a94442;*/

/*}*/

.invalid {
  border: 1px solid red;
}

.errorMessage {
  font-size:.9rem;
  left:98px;
  padding:2px;
  margin-bottom:0px;
  position: relative;
}


.container {
  background-repeat: no-repeat;
  /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  background-image: url('../../assets/images/fellsman.jpg');
  max-width: 100%;
  height:100vh;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-container.card {
  max-width: 390px;
  max-height:400px;
  padding: 20px 20px;
  top: 5%;
  background-color: rgba(211, 211, 211, 1.0)	/* 50% opaque blue */
  /*transform: translateY(-50%);*/
}

.btn {
  color: white;
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #0273d4;
}

.card {
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  /*margin-top: 50px;*/
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}
/*.profile-img-card {*/
  /*width: 96px;*/
  /*height: 96px;*/
  /*margin: 0 auto 10px;*/
  /*display: block;*/
  /*-moz-border-radius: 50%;*/
  /*-webkit-border-radius: 50%;*/
  /*border-radius: 50%;*/
/*}*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  /*min-height: 1em;*/
}

