.table-row-seperator-background {
  /*background: linear-gradient(100deg,#0143a3,#0273d4, lightblue);*/

  /*background-color: #0143a3;*/
  background-color: #0273d4;

  color: #fff;
  /*height: 100px;*/
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

.header {
  text-align: center;
}

.header-button-right {
  text-align: right !important;
}

tbody {
  font-size: 15px;
}
/*.table-border {*/
/*border: 4px solid green;*/
/*}*/

.selected {
  background-color: #5bc0de;
}

table {
  /*border: 4px solid green;*/
}

/*table > tbody > tr {*/
/*cursor: pointer;*/
/*}*/

.hand-cursor {
  cursor: pointer;
}

th {
  height: 30px;
  /*background-color: green;*/
  color: #0273d4;
}

td {
  border-bottom: 2px solid #CEDFDF;
}

.selectedTag {
  color: #0273d4;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #0273d4;
  font-weight: bold;
}
input:-moz-placeholder {
  color: #0273d4;
  font-weight: bold;
}
input:-ms-input-placeholder {
  color: #0273d4;
  font-weight: bold;
}










