<table class="table table-sm table-border">
  <thead>
  <tr *ngIf="true">
    <th><h4>Date</h4></th>
    <th><h4>Name</h4></th>
    <th><h4>Location</h4></th>
    <th><h4>Miles</h4></th>
    <th><h4>Climb (m)</h4></th>
    <th><h4>Terrain</h4></th>
    <th><h4>Website</h4></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

    <!-- <tr *ngIf="!races || races.length === 0">
    <td colspan="7">
      <ngb-alert type="info" [dismissible]="false">No Results Found.</ngb-alert>
    </td>
  </tr> -->

    <ng-container *ngFor="let race of races">
      <tr (click)="toggleDetail(race.name)"
          [ngClass]="{'table-row-seperator-background': isDateRow(race),
                            'table-row-background hand-cursor': !isDateRow(race),
                            'selected': showRaceDetail(race.name) && !isDateRow(race) }">

        <td>{{race.date}}</td>

        <td *ngIf="isDateRow(race)"><h5>{{race.name}}</h5></td>
        <td *ngIf="!isDateRow(race)">{{race.name}}</td>

        <td>{{race.area}}</td>
        <td>{{race.miles}}</td>
        <td>{{race.mclimb}}</td>
        <td>{{race.terrain}}</td>
        <td>
          <a href={{race.website}} target="_blank" target="_blank"><i class="fa fa-globe fa-fw" aria-hidden="true"></i></a>
        </td>

        <td *ngIf="!isDateRow(race)">
          <i  *ngIf="!showRaceDetail(race.name)" class="fa fa-plus" aria-hidden="true"></i>
          <i *ngIf="showRaceDetail(race.name)" class="fa fa-minus"></i>
        </td>
        <td *ngIf="isDateRow(race)"></td>
      </tr>

      <tr [@EnterLeave] *ngIf="showRaceDetail(race.name) && !isDateRow(race)">
        <td colspan="7">
          <app-race-detail [race]=race (onDeleteRace)="onDeleteRace($event)" (onEditRace)="onEditRace($event)"></app-race-detail>
        </td>
      </tr>
    </ng-container>

  </tbody>

</table>
