.bd-pageheader {
  color: #fff;
  text-align: left;
  height: 330px;
  /*background:hsla(0,0%,100%,.95);*/
  /*background: linear-gradient(100deg,#0143a3,#0273d4, lightblue)*/
  background-image: url('../assets/images/bg3.jpg');
  background-size: cover;
  background-position:80% 45%;
}

.move-navbar-up {
  transform: translateY(-40px);
}

.tab-icon {
  height: 30px;
  width: 25px;
}

.nav-link {
  height: 40px;
}

.nav-item {
  background-color:rgba(44, 62, 80,1.0);
  width: 153px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  margin-right: 2px;
}

p, h1 {
  color: rgb(44, 62, 80);
}

.progressBar {
  transform: translateY(-43px);
  position: absolute;
  left: 0;
}
