<div class="bd-pageheader">
  <!--<img src="../../assets/images/bg3.jpg"/>-->
  <div class="container">
    <h1>UK Ultramarathon Database</h1>
    <p class="lead">
      <b>Search for a race and click to view more information.<br />
      Simple searching and filtering.
      </b>
    </p>
  </div>
</div>

<div class="container">
  <div class="move-navbar-up">
    <ul class="nav nav-tabs justify-content-start nav-bar">
      <li class="nav-item">
        <a routerLink="/races/upcoming" routerLinkActive="active" class="nav-link" href role="tab" id="upcoming1"  aria-controls="upcoming-panel">
          Upcoming
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/races/all-races" routerLinkActive="active" class="nav-link" href role="tab" id="races" aria-controls="allraces-panel">
          Races
          <img class="tab-icon" src="../../assets/images/runnerIcon.png">
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/races/runfurther" routerLinkActive="active" class="nav-link" href role="tab" id="runfurther" aria-controls="runfurther">
          Run Further
          <img class="tab-icon" src="../../assets/images/runFurtherLogo.png">
        </a>
      </li>
    </ul>
  </div>

  <mat-progress-bar class="progressBar" *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>

  <router-outlet></router-outlet>

</div>

<app-footer></app-footer>
