<ngb-alert type="danger" [dismissible]="false">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    <h3>Oops...</h3>

    <h4 *ngIf="!message">Connection refused...</h4>
  <h5 *ngIf="message">{{message}}</h5>

</ngb-alert>


