.ng-valid[required], .ng-valid.required  {
  border-left: 6px solid #28a745; /* green */
}

.ng-invalid:not(form)  {
  border-left: 6px solid #a94442; /* red */
}

.errorMessage {
  font-size:.9rem;
  left:98px;
  padding:2px;
  margin-bottom:0px;
  position: relative;
}

.button-style {
  background-color: #28a745;
  color:white;
}
