<div class="modal-header">
  <h4 *ngIf="!isEditForm()" class="modal-title">Add a race</h4>
  <h4 *ngIf="isEditForm()" class="modal-title">Editing: {{raceToEdit.name}}</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="addRaceForm" novalidate>

  <div class="modal-body">
        <div class="form-group row">
          <label for="race-name" class="col-2 col-form-label">Name</label>
          <div class="col-9">
            <input class="form-control" type="text" placeholder="Enter the race name" name="name" id="race-name" formControlName="name" required>
          </div>
          <div *ngIf="!addRaceForm.get('name').valid && showFormErr"
               class="alert alert-danger errorMessage"> Name is required
          </div>

          <!--<p>Form value: {{addRaceForm.value | json}}</p>-->
          <!--<p>Form status: {{ addRaceForm.status | json }}</p>-->
          <!--<p>Name status: {{ addRaceForm.get('name').value | json }}</p>-->

        </div>

        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Date</label>
          <div class="col-9">
            <input class="form-control" type="date" value="10/10/2018" id="example-date-input" formControlName="date" required>
          </div>
          <div *ngIf="!addRaceForm.get('date').valid && showFormErr"
               class="alert alert-danger errorMessage"> Date is required
          </div>
        </div>

        <div class="form-group row">
          <label for="race-miles" class="col-2 col-form-label">Miles</label>
          <div class="col-9">
            <input (keyup)="milesEntered()"  class="form-control" type="number" value="" id="race-miles" formControlName="miles" required>
          </div>
          <div *ngIf="!addRaceForm.get('miles').valid && showFormErr"
               class="alert alert-danger errorMessage"> Miles are required
          </div>
        </div>

        <div class="form-group row">
          <label for="race-km" class="col-2 col-form-label">Kilometers</label>
          <div class="col-9">
            <input (keyup)="kmEntered()" class="form-control" type="number" value="" id="race-km" formControlName="km" required>
          </div>
          <div *ngIf="!addRaceForm.get('km').valid && showFormErr"
               class="alert alert-danger errorMessage"> Km are required
          </div>
        </div>

        <div class="form-group row">
          <label for="race-location" class="col-2 col-form-label">location.ts</label>
          <div class="col-9">
            <input id="typeahead-basic" type="text" class="form-control" id="race-location"
                   [ngbTypeahead]="search" formControlName="area"
                   placeholder="Eg: Peak District"
                   required
            />
          </div>
          <div *ngIf="!addRaceForm.get('area').valid && showFormErr"
               class="alert alert-danger errorMessage"> location.ts is required
          </div>
        </div>

        <div class="form-group row">
          <label for="race-location" class="col-2 col-form-label">Terrain</label>
          <div class="col-9">
            <input id="terrain" type="text" class="form-control"
                   [ngbTypeahead]="terrainSearch" formControlName="terrain"
                   placeholder="Eg: Coastal"
                   required
            />
          </div>
          <div *ngIf="!addRaceForm.get('terrain').valid && showFormErr"
               class="alert alert-danger errorMessage"> Terrain is required
          </div>
        </div>

        <div class="form-group row">
          <label for="climb" class="col-2 col-form-label">Climb(m)</label>
          <div class="col-9">
            <input class="form-control" type="text" placeholder="" name="name" id="climb" formControlName="mclimb">
          </div>
        </div>

        <div class="form-group row">
          <label for="website" class="col-2 col-form-label">Website</label>
          <div class="col-9">
            <input class="form-control" type="text" placeholder="" name="name" id="website" formControlName="website">
          </div>
        </div>


  </div>

  <div class="modal-footer">
    <button mat-raised-button color="warn" (click)="activeModal.close('closed')">Cancel</button>
    <button *ngIf="!isEditForm()" mat-raised-button class="btn btn-success button-style" (click)="onAddRaceSubmit(addRaceForm.value)" type="submit">Add Race</button>
    <button *ngIf="isEditForm()" mat-raised-button color="accent" (click)="editRace(addRaceForm.value)">Edit</button>

  </div>
</form>

