<mat-card>
  <div #divBtn id="textbox" class="accordion" (click)="monthClicked(divBtn)" [ngClass]="{'active': expanded}">
    <h3>{{name}}</h3>
    <p class="right-div">({{races.length}} races)</p>
  </div>
  <div *ngIf="sticky && expanded" [ngClass]="{'animated sticky fadeIn' : sticky, 'fadeOut': fadeOut}">
    <h3>{{name}}</h3>
    <p (click)="scrollTop()" id="top" class="sticky-right-div"><i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i></p>
  </div>

  <div #div class="panel" [style.max-height]="expand(div)">
    <table class="table table-sm table-border">
      <thead>
      <tr *ngIf="true">
        <th><h4>Date</h4></th>
        <th><h4>Name</h4></th>
        <th><h4>Location</h4></th>
        <th><h4>Miles</h4></th>
        <th><h4>Climb (m)</h4></th>
        <th><h4>Terrain</h4></th>
        <th><h4>Website</h4></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let race of races" colspan="7">
        <td>{{race.date}}</td>
        <td>{{race.name}}</td>
        <td>{{race.area}}</td>
        <td>{{race.miles}}</td>
        <td>{{race.mclimb}}</td>
        <td>{{race.terrain}}</td>
        <td>
          <a href={{race.website}} target="_blank"><i class="fa fa-globe fa-fw" aria-hidden="true"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</mat-card>
