th {
  height: 30px;
  /*background-color: green;*/
  color: #0273d4;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

table {
  margin-top:10px;
}

.right-div {
  position: absolute;
  right: 100px;
  font-size: 20px;
  color: #777;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee ;
  color: #0273d4;
  cursor: pointer;
  padding: 18px;
  /*width: 100%;*/
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  height:70px;
}

.stickyHeader {
  background-color: hotpink;
  text-align: center !important;
  color: #0273d4;
  padding: 18px;
  /*width: 100%;*/
  border: none;
  text-align: left;
  font-size: 25px;
  height:70px;
}

#textbox {
  display: flex;
  justify-content: space-between;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #F8F8F8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.mat-card {
  padding: 0px;
  margin-bottom: 10px;
  display: block;
}

.sticky {
  position:fixed;
  padding:0px;
  top:0px;
  right: 0px;
  left:0px;
  color: white;
  background-color:rgba(91, 192, 222, 1);
  /*background-color:#CC6600;*/
  padding: 8px;
  transition: 2s;
  height:55px;
  display: flex;


  justify-content: center;
  align-items: center;
}

.sticky-right-div {
  color: white;
  position: absolute;
  right: 100px;
  font-size: 15px;
  padding: 13px;
}

#top:hover {
  color: yellow;
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
