/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.nav-item > a {
  color: white;
}

.disable {
  background-color: blue;
}

.my-centered-dialog {
  max-width: 300px;
}

.mat-dialog-container {
  max-width: none;

}

.alert {
  margin-bottom: 0rem;
}

/*.mat-progress-bar-element {*/
  /*background-color: #0273d4;*/
/*}*/
