<div [@EnterLeave] *ngIf="isVisible" >
  <form [formGroup]="contactMeForm">

    <h6 class="text-white">Contact me.</h6>

    <input type="text" id="fname" name="firstname" placeholder="First name..." formControlName="firstName">
    <input type="text" id="lname" name="lastname" placeholder="Last Name..." formControlName="lastName">
    <input type="text" id="email" name="email" placeholder="Email address..." formControlName="email">
    <textarea id="message" name="message" placeholder="Message..." style="height:170px" formControlName="message"></textarea>

    <div class="row">
      <div class="col-md-2">
        <input (click)="onSubmit(contactMeForm.value)" type="submit" value="Submit">
      </div>
    </div>

  </form>
</div>
