<div class="container">

    <mat-card>

      <h1>Run Further
        <a href="http://runfurther.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/groups/354970015195/"  target="_blank">
          <img id="fb-group" src="../../../assets/images/find_fb.png" alt="fb group">
        </a>
      </h1>
      <p>
        The Runfurther race series is an annual championship based round 12 off-road Ultra running races in the UK.  They don’t organise the races, just the tournament scoring.
      </p>
      <a href="http://runfurther.com/" target="_blank">
        <img class="run-further-logo" src="../../../assets/images/runFurtherLogo.png" alt="Run Further Logo">
      </a>
      <p>It is completely free to join Run Further.  The races will change from year to year, but favourite races are often kept in the series. Results are collate into a championship table according to a set of simple rules, and the best runners win!
      </p>

      <p>At the end of the year there will be a get-together for an awards ceremony, drinking, and discussion of next year’s plans.
        The races fall into three categories: Short (30-35 miles), Medium (36-45 miles) and Long (46 miles plus).  There will be four races in each category.
      </p>
      <a href="http://runfurther.com/" target="_blank">Visit the website for more information</a>

    </mat-card>
  <br>

  <div class="row">
    <div class="col col2">

      <mat-card class="run-further-races">

      <table class="table table-sm">
        <thead>
          <tr class="alt">
            <th width="116" height="20"><strong>Date</strong></th>
            <th width="196"><strong>Event</strong></th>
            <th width="152"><strong>location.ts</strong></th>
            <th width="49"><strong>Miles</strong></th>
            <th width="39"><strong>Cat</strong></th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let race of runFurtherRaces" (click)="raceSelected(race)"
            [ngClass]="{'selected': race && highlightRow(race.name)}">
          <td height="20">{{race.date}}</td>
          <td><a title="Haworth Hobble" href={{race.website}}>{{race.name}}</a></td>
          <td>{{race.area}}</td>
          <td>{{race.distance}}</td>
          <td>{{race.category}}</td>
        </tr>

        <tr class="alt">
          <td height="20">Sat 28 April</td>
          <td><a title="The Fellsman" href="http://runfurther.com/the-fellsman/">The Fellsman</a></td>
          <td>Yorkshire Dales</td>
          <td>61</td>
          <td>L</td>
        </tr>
        <tr class="">
          <td height="20">Sun 6 May</td>
          <td><a href="http://runfurther.com/marlborough-downs-challenge/">Marlborough Downs Challenge</a></td>
          <td>Wiltshire</td>
          <td>33</td>
          <td>S</td>
        </tr>
        <tr class="alt">
          <td height="20">Sun 20 May</td>
          <td><a title="The Ox" href="http://runfurther.com/northants-ultra-shires-and-spires/">Northants Ultra</a></td>
          <td>Northamptonshire</td>
          <td>35</td>
          <td>S</td>
        </tr>
        <tr class="">
          <td height="20">22/23 June</td>
          <td><a title="Three Rings of Shap" href="http://runfurther.com/south-wales-50-100/">South Wales 50/100</a></td>
          <td>South Wales</td>
          <td>50/100</td>
          <td>L</td>
        </tr>
        <tr class="alt">
          <td height="20">Sat 7 July</td>
          <td><a title="Three Rings of Shap" href="http://runfurther.com/pennine-39/">Pennine 39</a></td>
          <td>North Pennines</td>
          <td>39</td>
          <td>M</td>
        </tr>
        <tr class="">
          <td height="20">Sat 11 August</td>
          <td><a title="Long Tour of Bradwell" href="http://runfurther.com/long-tour-of-bradwell/">Long Tour of Bradwell</a></td>
          <td>Peak District</td>
          <td>33</td>
          <td>S</td>
        </tr>
        <tr class="alt">
          <td height="20">Sat 1 September</td>
          <td><a href="http://runfurther.com/grand-tour-of-skiddaw/">Grand Tour of Skiddaw</a></td>
          <td>Lake District</td>
          <td>44</td>
          <td>M</td>
        </tr>
        <tr class="">
          <td height="20">Sat 15 September</td>
          <td><a title="Bullock Smithy Hike" href="http://runfurther.com/hardmoors-60/">Hardmoors 60</a></td>
          <td>North York Moors</td>
          <td>62</td>
          <td>L</td>
        </tr>
        <tr class="alt">
          <td height="20">Sat 20 October</td>
          <td><a title="Isle of Man Mountain Ultra" href="http://runfurther.com/round-rotherham-50/">Round Rotherham 50</a></td>
          <td>South Yorkshire</td>
          <td>50</td>
          <td>L</td>
        </tr>
        </tbody>
      </table>
      </mat-card>
    </div>


    <div class="col col4">
      <app-race-info [race]="selectedRace"></app-race-info>
    </div>

  </div>



  <!--<div class="text-center">-->
    <!--<img id="fellsman" src="../../../assets/images/fellsman.jpg" class="img-fluid" alt="Responsive image">-->
<!---->
  <!--</div>-->

  <mat-card class="card-image">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>The Fellsman 2013</mat-card-title>
      <mat-card-subtitle>A Run Further classic</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/fellsman.jpg" style="height: 630px;" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-image">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bullock Smithy Hike 2013</mat-card-title>
      <mat-card-subtitle>A Run Further classic</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/bulloksmithy.jpg" style="height: 630px;" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-image">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Isle Of Man Ultra 2016</mat-card-title>
      <mat-card-subtitle>Run Further on tour</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/isleofman.jpg" style="height: 630px;" alt="Photo of a Shiba Inu">
  </mat-card>

</div>
