.table {
  width: 600px;
  font-size: 15px;
  /*background-color: #CC6600;*/

}
thead {
  /*background-color: #CC6600;*/
  cursor: default;
  color: #CC6600;
}

tbody > tr {
  cursor: pointer;
}

.run-further-logo {
  width:140px;
  height:140px;
  /*transform: translateY(+40px);*/
  float:right;
  padding-left:25px;
}

#fb-group {
  width:120px;
  height:30px;
  float: right;
  /*margin-bottom: auto;*/
  /*margin-top: auto;*/
}

.mat-card {
  background-color: #F8F8F8;
  margin-bottom: 30px;
  /*background-color: #EA9732;*/
  /*background-color: #F2C084;*/
}

.run-further-races {
  margin-bottom: 30px;
  padding:10px;
}

.card-image {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left:40px;
  padding-right:40px;
}

#fellsman {


  /*!*width:700px;*!*/
  /*!*background: no-repeat;*!*/
  /*background-image: url('../../../assets/images/fellsman.jpg');*/
  /*!*background-size: 100%;*!*/
  /*background-size: contain;*/
  /*min-width: 100%;*/
  /*min-height: 100%;*/

}

.selected {
  background-color: #5bc0de;
}


