.header {
  text-align: center;
}

#hello {
  background-color: blue;
}

.header-button-right {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  height: 40px;
}

.collapse {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  height: 40px;
}


.disableResetButton {
  background-color: lightgray;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

h4 {
}

p {
  margin-bottom: 0px;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-primary {
  background-color: #0273d4;
  color: white;
}

.progressBar {
  transform: translateY(-43px);
  position: absolute;
  left: 0;
}


