<div class="container">

  <div class="row">

    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col">

              <app-typeahead-search [races]="races"
                                    (onFilterRaces)="filterRacesByTypeAhead($event)"
                                    (onShowFilteredRaces)="displayFilteredRaces($event)">
              </app-typeahead-search>

            </div>

            <div class="col">
              <h1>Races</h1>
            </div>
            <div class="col">
              <button mat-raised-button *ngIf="!showColumnFilters" (click)="showFilters()" type="text-align: right" class="btn btn-primary header-button-right">
                Filter
                <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
              </button>
              <button mat-raised-button *ngIf="showColumnFilters" (click)="hideFilters()" type="text-align: right" class="btn btn-primary header-button-right">
                Hide Filter
                <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
              </button>
              <button mat-raised-button class="btn btn-success header-button-right" (click)="openAddRaceModal()" type="button">Add Race</button>
            </div>

          </div>
          <p *ngIf="!expandAllMonths && !showColumnFilters && !showFilteredRaces" (click)="expandMonths()" class="header-button-right">Expand all <i class="fa fa-chevron-down" aria-hidden="true"></i></p>
          <p *ngIf="expandAllMonths && !showColumnFilters && !showFilteredRaces" (click)="expandMonths()" class="header-button-right">Collapse all <i class="fa fa-chevron-up" aria-hidden="true"></i></p>
        </header>
      </section>

      <div *ngIf="showColumnFilters" [@EnterLeave]>
          <app-race-filter
                       [resultCount]=filteredRaceCount
                       [locations]="locations"
                       [terrains]="terrains"
                       (onResetRacesAndCount)="resetRacesAndCount($event)"
                       (onFilterRaces)="filterRacesEvent($event)">
          </app-race-filter>
      </div>

    </div>
  </div>

  <ngb-alert *ngIf="showErr" type="danger" [dismissible]="false">
    <strong>Warning!</strong> Error getting data from server. Please refresh.
  </ngb-alert>

  <div class="content">

      <app-race-list-table *ngIf="showFilteredRaces" [racesMonths]="raceMonthMap" (onRaceDeleted)="handleRaceDelete($event)" (onRaceEdited)="openEditModal($event)" [showFilters]="showColumnFilters" [races]="filteredRaces"></app-race-list-table>
      <ng-container *ngFor="let month of getMonths()">
        <app-month-accordian style="display: block" id={{month}} *ngIf="!showFilteredRaces" [name]=month [races]="raceMonthMap.findColumnKeys(month)"></app-month-accordian>
      </ng-container>

  </div>

</div>
