<mat-progress-bar class="progressBar" *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
<h3 class="display-5">Races in {{monthName}}</h3>
<app-race-list-table [races]="races"></app-race-list-table>
